<a href="https://colab.research.google.com/github/wogh551/pythonProject/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#need lib
!pip install pandas
!pip install seaborn
!pip install plotly

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.11.0)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.1.4)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)

In [56]:
import pandas as pd 

#해당 링크는 한국거래소에서 상장법인목록을 엑셀로 다운로드하는 링크입니다.
#다운로드와 동시에 Pandas에 excel 파일이 load
stock_code = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]

In [57]:
stock_code=stock_code[['회사명','종목코드']]
stock_code.rename(columns={'회사명':'company',  '종목코드':'code'},inplace=True)
stock_code.sort_values(['company'],ascending=True,inplace=True)

In [58]:
print(stock_code)

         company    code
2995  (주)이동수에프엔지   20880
87            3R   37730
2725          3S   60310
3482       3SOFT   36360
88        3노드디지탈  900010
...          ...     ...
1456          희림   37440
197        희훈디앤지   19640
3108   히든챔피언스팩1호  123160
2620       히스토스템   36840
3874          힘스  238490

[3894 rows x 2 columns]

In [11]:
print(df)

             날짜        종가      전일비        시가        고가        저가       거래량
0           NaN       NaN      NaN       NaN       NaN       NaN       NaN
1    2020.12.04  846000.0      0.0  863000.0  863000.0  846000.0  370778.0
2    2020.12.03  846000.0   5000.0  839000.0  846000.0  827000.0  372854.0
3    2020.12.02  841000.0  32000.0  816000.0  849000.0  811000.0  592081.0
4    2020.12.01  809000.0   9000.0  808000.0  816000.0  794000.0  404022.0
..          ...       ...      ...       ...       ...       ...       ...
295  2020.02.21  407000.0  12000.0  407000.0  416500.0  406500.0  400924.0
296  2020.02.20  419000.0  15000.0  408500.0  422000.0  406000.0  482732.0
297  2020.02.19  404000.0  14000.0  420500.0  421500.0  403500.0  766920.0
298  2020.02.18  418000.0   1500.0  418000.0  422000.0  415000.0  366288.0
299         NaN       NaN      NaN       NaN       NaN       NaN       NaN

[300 rows x 7 columns]